{% extends "admin/layout.njk" %}

{% block content %}
<form method="POST" action="/admin/adicionarReceita">
    <div class="header-fields">
        <h1>Criando Receita</h1>
        <button type="submit">Salvar receita</button>
    </div>
    
        {% include "admin/fields.njk" %}
</form>
    

{% endblock content %}