{% extends "admin/layout.njk"%}

{% block head %}
 <title>Foodfy - {{item.recipe_name}}</title>
{% endblock head %}

{%block content%}
{# REFAZER ESSA PAGINA ARRUMAR O CODIGO DE HIDE #}
<div class="recipe single-page" id="{{item.id}}">
        <div class="details-admin">
            <h1>Receita: {{item.recipe_name}}</h1>
            <a href="/admin/{{item.id}}/edit">Editar receita</a>
        </div>
        <img src="{{item.img_url}}" alt="Imagem {{item.recipe_name}}" id="img-recipe">
        <h1 >{{item.recipe_name}}</h1>
        <h2 >{{item.author_name}}</h2>
        <div>
            <h4>Ingredientes</h4>
            <button type="button" >Fechar</button>
        </div>
        <ul >
            {% for ingredient in item.ingredients %}
            <li>{{ingredient}}</li>
            {% endfor %}
        </ul>
        <div>
            <h4>Modo de Preparo</h4>
            <button type="button" >Fechar</button>
        </div>
        <ul >
            {% for modo in item.steps %}
            <li>{{modo}}</li>
            {% endfor %}
        </ul>
        <div>
            <h4>Informações adicionais</h4>
            <button type="button" >Fechar</button>
        </div>
            <p >{{item.extra_information}}</p>
</div>

<script src="/scripts.js"></script>
{%endblock%}