{% extends "admin/layout.njk" %}

{% block content %}
    <div class="header-fields" id="edit">
        <h1>Editando a Receita</h1>
        <form method="POST" action="/admin?_method=DELETE">
            <input type="hidden" name="id" value="{{item.id}}">
            <button type="submit" class="delete">Deletar</button>
        </form>
        <form method="POST" action="/admin?_method=PUT">
            <button type="submit">Salvar receita</button>
        </div>

        {% include "admin/fields.njk" %}
        <input type="hidden" name="id" value="{{item.id}}">
    </form>

{% endblock content %}