<div class="normal-fields">
    <h3>Imagem da Receita</h3>
    <div>
        <input type="url" name="img_url" placeholder="http://" value={{item.img_url}}>
    </div>
</div>

<div class="normal-fields">
    <h3>Nome da Receita</h3>
    <div>
        <input type="text" name="recipe_name" placeholder="Nome da Receita" value="{{item.recipe_name}}">
    </div>
</div>

<div class="normal-fields">
    <h3>Nome do Autor</h3>
    <div>
        <input type="text" name="author_name" placeholder="Nome e Sobrenone" value="{{item.author_name}}">
    </div>
</div>

<div class="normal-fields">
    <h3>Ingredientes</h3>
    <div id="ingredients">
    {%for ingredient in item.ingredients%}
        <div class="ingredient">
            <input type="text" name="ingredients[]" placeholder="Ingrediente" value="{{ingredient}}">
        </div>
    {%endfor%}
    </div>
    <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
</div>

<div class="normal-fields">
    <h3>Modo de Preparo</h3>
    <div id="steps">
        <div class="step">
            <input type="text" name="steps[]" placeholder="Ingrediente" value="{{item.steps}}">
        </div>
    </div>
    <button type="button" class="add-step">Adicionar novo passo</button>
</div>

<div class="normal-fields last-field">
    <h3>Informações Adicionais</h3>
    <div>
        <textarea type="text" name="extra_information" placeholder="Algo a mais" value="{{item.extra_information}}"></textarea>
    </div>
</div>

<script src="/scripts.js"></script>