{% extends "user/layout.njk" %}

{% block head %}
 <title>Foodfy</title>
{% endblock head %}

{%block content%}
<div class="home-presentation">
    <div class="home-presentation-text">
        <h1>As melhores receitas</h1>
        <p>
            Aprenda a construir os melhores pratos
            com receitas criadas por profissionais
            do mundo inteiro.
        </p>
    </div>
    <img src="/assets/chef.png" alt="Desenho do Chefe">
</div>
<h2>Mais acessadas</h2>
<div class="most-popular-recipes">

    {% for item in items %}
    <div class="recipe" id="{{item.id}}">
        <img src="{{item.img_url}}" alt="Imagem {{item.recipe_name}}">
        <p id="recipe-name">{{item.recipe_name}}</p>
        <p id="cook-name">{{item.author_name}}</p>
    </div>
    {%endfor%}
    <script src="/scripts.js"></script>
</div>
{%endblock%}